@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding-bottom: 60px;
  transition: background-color 1s ease;
  background-color: #e0dacf;
}

@media (max-width: 991.98px) {
  body {
    padding: 0 15px;
  }
}
body.light-theme {
  color: #01353C;
}
body.dark-theme {
  color: #E5E3D2;
}
body.dark-theme p.bienvenida a,
body.dark-theme ul.list-companies li span,
body.dark-theme ul.list-certificates li p a,
body.dark-theme ul.menu-redes li a:hover,
body.dark-theme .tesmonialItem div.quote-icon,
body.dark-theme .tesmonialItem p.quote-author a {
  color: #00BACF;
}
body.dark-theme h2::after,
body.dark-theme .btn-cv,
body.dark-theme .gallery-flex__item .gallery-flex__caption::after {
  background-color: #00BACF;
}

.nice-circle {
  display: block;
  position: fixed;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #01353C;
  transition: all ease 0.7s;
  z-index: -1;
}
.nice-circle.active {
  transform: scale(5000);
  transition: all ease 0.7s;
}

h2 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 3px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.5em;
  font-size: 2em;
}
@media (max-width: 575.98px) {
  h2 {
    font-size: 1.2em;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  h2 {
    font-size: 1.8em;
  }
}
h2.text-center::after {
  margin-left: auto;
  margin-right: auto;
}
h2::after {
  display: block;
  position: relative;
  content: "";
  width: 40px;
  height: 5px;
  margin-top: 15px;
  background-color: #B64326;
  transition: background-color 1s ease;
}

.avatar img {
  display: block;
  position: relative;
  width: 140px;
  height: auto;
  margin: 30px auto;
  border-radius: 50%;
}
@media (max-width: 575.98px) {
  .avatar img {
    width: 120px;
  }
}

p {
  font-family: "Cormorant", serif;
  font-size: 22px;
}

p.bienvenida {
  display: block;
  position: relative;
  width: 100%;
  font-size: 32px;
  letter-spacing: 1px;
  margin: 0 auto 60px auto;
}
@media (max-width: 575.98px) {
  p.bienvenida {
    font-size: 28px;
    letter-spacing: 1px;
  }
}
p.bienvenida a {
  color: #B64326;
  text-decoration: none;
}
p.bienvenida a:hover {
  text-decoration: underline;
  cursor: pointer;
}

ul.menu-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

ul.menu-redes li {
  display: block;
  font-size: 36px;
  padding: 10px 20px;
}
@media (max-width: 575.98px) {
  ul.menu-redes li {
    font-size: 26px;
  }
}
ul.menu-redes li a {
  color: inherit;
  transition: all 0.5s ease;
}
ul.menu-redes li a:hover {
  color: #B64326;
  transform: scale(0.7);
}

ul.list-companies {
  display: block;
  position: relative;
  margin-top: 30px;
  margin-left: 0;
  padding-left: 0;
}
ul.list-companies li {
  position: relative;
  margin-top: 10px;
  list-style: none;
}
ul.list-companies li a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}
ul.list-companies li a:hover {
  color: #B64326;
}
ul.list-companies li span {
  color: #B64326;
}

ul.list-certificates {
  display: block;
  position: relative;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}
ul.list-certificates li {
  position: relative;
  margin-bottom: 30px;
  line-height: 1.5em;
  margin-bottom: 32px;
  font-family: "Raleway", sans-serif;
}
ul.list-certificates li h3 {
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
}
ul.list-certificates li p {
  font-family: inherit;
  text-transform: uppercase;
  line-height: 1.5em;
  font-size: 16px;
  color: inherit;
}
ul.list-certificates li p span {
  display: block;
}
ul.list-certificates li p a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: inherit;
  letter-spacing: 1px;
  text-transform: none;
  padding: 0;
  color: #B64326;
}
ul.list-certificates li p a:hover {
  color: #B64326;
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

section {
  padding: 30px 0;
}

ul.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0;
  padding: 0;
  gap: 26px;
}
ul.icon-list li {
  display: block;
  font-size: 28px;
  color: inherit;
  margin: 0;
}
@media (max-width: 575.98px) {
  ul.icon-list li {
    font-size: 26px;
  }
}
ul.icon-list li i.fa-google {
  font-size: 26px !important;
}

.instafeed-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 120px;
}
.instafeed-container img {
  width: 150px;
  margin: 10px;
}

.testimonials {
  margin: 30px 0;
}

.tesmonialItem {
  padding: 30px 0;
}
.tesmonialItem p.quote {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
}
@media (max-width: 575.98px) {
  .tesmonialItem p.quote {
    font-size: 28px;
  }
}
.tesmonialItem p.quote-author {
  text-align: center;
  font-size: 22px;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 575.98px) {
  .tesmonialItem p.quote-author {
    font-size: 18px;
  }
}
.tesmonialItem p.quote-author a {
  text-decoration: none;
  color: #B64326;
}
.tesmonialItem p.quote-author a:hover {
  color: #B64326;
}
.tesmonialItem div.quote-icon {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  color: #B64326;
  font-size: 46px;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

button.btn-contacto {
  display: block;
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  background-color: #B64326;
  background-image: url("../images/avatar-sprite.png");
  background-size: auto 100px;
  background-position: 0 center;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.05);
  transition: bottom 0.5s ease-out, transform 0.5s ease, box-shadow 1s ease;
  z-index: 9999;
  border: none;
}
button.btn-contacto.hidden {
  bottom: -125px;
}
button.btn-contacto:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 16px 12px rgba(0, 0, 0, 0.05);
}
@media (max-width: 575.98px) {
  button.btn-contacto {
    bottom: 15px;
    right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

p, a, ul li, h2,
.quote-icon,
ul.list-companies li span,
ul.list-companies li a,
ul.list-certificates li p span,
ul.list-certificates li p span a {
  transition: color 1s ease;
}

.gallery-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 60px 0;
  gap: 40px 16px;
}

footer {
  display: block;
  position: relative;
  padding: 120px 0;
}

.btn-cv {
  display: block;
  position: relative;
  font-weight: 600;
  width: 242px;
  text-align: center;
  border: 2px solid transparent;
  background-color: #B64326;
  border-radius: 28px;
  color: #fff;
  padding: 15px 0;
  margin: 0 auto;
  transition: background-color 0.5s ease, transform 0.5s ease;
  text-decoration: none;
}
.btn-cv:hover {
  /* background-color: #fff;
  color: $rusty-red;
  border: 2px solid $rusty-red;
  text-decoration: none; 
  transform: scale(1.1);*/
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=main.css.map */
